form .profilepic{
    width:200px;
    margin-bottom:15px;
}

.profilepicture{
    width:200px;
    height:200px;
    border-radius:50%;
    overflow:hidden;
}

.profilehomepic{
    float:left
}

.data-user{
    font-weight:bold;
    line-height: 35px;
}

.audiocontrols{
    width:100%;
}

.username_description,
.username_header{
    color:gray;
}

.page-item.active .page-link{
    background-color:#38c172 !important;
    color:white !important;
}

.page-link{
    color:#38c172 !important;
}

.cropped-img{
    width:35px;
    height:35px;
    object-fit:cover;
    border-radius:50%;
}

.cropped-profile-img{
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}

.cropped-users-img{
    width:150px;
    height:150px;
    object-fit:cover;
    border-radius:50%;
}

.cropped-comment-img{
    width:20px;
    height:20px;
    object-fit:cover;
    border-radius:50%;
}

#logoutModal{
    z-index:20000;
}

